
body, html { 
  font-family:'Comfortaa', cursive;
}

.button:hover{
  background-color:rgba(84,106,255,1);
  background:linear-gradient(90deg, rgba(84,106,255,1) 60%, rgba(32,188,255,1) 100%);
  transition: background-color 0.5s ease-in;
}

.nobutton{
  background:linear-gradient(90deg, rgba(84,106,255,1) 0%, rgba(32,188,255,1) 100%);
}

.nobutton:hover{
  background:linear-gradient(90deg, rgba(84,106,255,1) 60%, rgba(32,188,255,1) 100%);
  background-color:rgba(84,106,255,1);
  transition: background-color 0.5s ease-in;
}

.smi{
  margin:5px
}
